@model IEnumerable<SwitchSelect.Models.Cliente>

@{
    ViewData["Title"] = "ClienteList";
}

<h1>Clientes</h1>




<form method="get" asp-controller="Admin" asp-action="AdminListaCliente">
    <div class="form-actions no-color">
        <p>
            Nome ou CPF: <input type="text" name="pesquisa">
            <input type="submit" value="Pesquisar" class="btn btn-default" />
        </p>
    </div>
</form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>

                    <td>
                    <a asp-controller="Cliente" asp-action="Edit" asp-route-id="@item.Id" asp-route-origem="adminInfo">Editar</a> |
                    <a asp-action="AdminInformacaoCliente" asp-route-id="@item.Id">Informações</a> |
                        <a asp-action="Inativar" asp-route-id="@item.Id">Inativar</a> |
                        <a asp-controller="Cliente" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

