@model SwitchSelect.Models.ViewModels.ClienteCompletoViewModel

<h2>Área do cliente</h2>

<div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>


    </dl>
    <div class="align-items-start">
        <a asp-controller="Pedido" asp-action="PedidoList" class="btn btn-primary">Pedidos</a>
        <a asp-controller="Cupom" asp-action="CupomList" class="btn btn-primary">Meus cupons</a>
        <a asp-controller="Cartao" asp-action="CartaoList" asp-route-ClienteId="@Model.Id" class="btn btn-primary" id="cartao">Metodo de pagamento</a>
        <a asp-controller="Cliente" asp-action="DadosPessoais" asp-route-id="@Model.Id" class="btn btn-primary">Dados pessoais</a>
        <a asp-controller="Endereco" asp-action="EnderecoList" asp-route-ClienteId="@Model.Id" class="btn btn-primary" id="endereco">Endereço</a>
        
    </div>
    <br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-link">Voltar</a>
</div>
