@model SwitchSelect.Models.Cliente

<h2>Checkout</h2>

<div>
    <form asp-action="Checkout" asp-controller="Pedido" method="post">
        <div class="row">
            <div class="col-sm-1">
                <label asp-for="Nome"></label>
            </div>
            <div class="col-sm-5">
                <input asp-for="Nome" readonly class="col-sm-4 form-control" style="border:none" />
            </div>

            <div class="col-sm-6">
                <h5>
                    Valor total do pedido:
                    <strong>
                        <input name="precoTotalPedidoString" value="@(((decimal)ViewBag.PrecoTotalPedido).ToString("C2"))" />
                        <input name="precoTotalPedido" value="@ViewBag.PrecoTotalPedido" hidden/>
                        <input name="totalItensPedido" value="@ViewBag.TotalItensPedido" hidden />
                    </strong>
                </h5>
            </div>


        </div>

        <div class="row">
            <div class="col-sm-1"> <label asp-for="Cpf"></label></div>
            <div class="col-sm-5">
                <input asp-for="Cpf" readonly class="col-sm-4 form-control" style="border:none" />
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" id="codigoCupom" class="form-control" placeholder="Código do Cupom" aria-label="Código do Cupom">
                    <button type="button" class="btn btn-primary" onclick="aplicarCupom()">Aplicar Cupom</button>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <h4>Dados de Endereço</h4>

                <select id="endereco" name="enderecoId" class="form-select">
                    <option value="">Selecione um endereço</option>
                    @foreach (var endereco in Model.Enderecos)
                    {
                        <option value="@endereco.Id">
                            @endereco.Id, @endereco.TipoLogradouro @endereco.Logradouro,
                            N°. @endereco.Numero, CEP. @endereco.CEP - @endereco.Complemento,
                            @endereco.Bairro.Cidade.Descricao, @endereco.Bairro.Cidade.Estado.Descricao
                        </option>
                    }
                </select>

                <a asp-controller="Endereco" asp-action="Create" asp-route-clienteId="@Model.Id"
                   asp-route-origem="Pedido" class="btn btn-primary">+ Endereço</a>
            </div>

            <div class="col-sm-6">
                <h4>Dados de Pagamento</h4>

                <select id="cartao" name="cartaoId" class="form-select">
                    <option value="">Selecione um cartão</option>
                    @foreach (var cartao in Model.Cartoes)
                    {
                        <option value="@cartao.Id">
                            ID:@cartao.Id, Tipo de Cartão: @cartao.TipoCartao,
                            Titular: @cartao.TitularDoCartao, Últimos 4 Dígitos: @cartao.CartaoQuatroDigito
                        </option>
                    }
                </select>
                <a asp-controller="Cartao" asp-action="Create" asp-route-clienteId="@Model.Id"
                   asp-route-origem="Pedido" class="btn btn-primary">+ Cartão</a>
            </div>
        </div>
        <input type="hidden" id="enderecoId" name="enderecoId" />
        <input hidden id="cartaoId" name="cartaoId" />

        <button type="submit" class="btn btn-primary mt-4">Finalizar Compra</button>
    </form>
</div>
<script>
    // Adicione um ouvinte de evento para o envio do formulário
    document.querySelector('form').addEventListener('submit', function () {
        // Obtenha o valor selecionado na select de endereço e cartao
        var enderecoIdSelecionado = document.getElementById('endereco').value;
        var cartaoSelecionado = document.getElementById('cartao').value;

        // Defina o valor selecionado no campo oculto
        document.getElementById('enderecoId').value = enderecoIdSelecionado;
        document.getElementById('cartaoId').value = cartaoSelecionado;
    });

    function aplicarCupom() {
        var codigoCupom = document.getElementById('codigoCupom').value;
        window.location.href = '@Url.Action("AplicarCupom", "Pedido")?codigoCupom=' + codigoCupom;
    }
</script>

