@model SwitchSelect.Models.ViewModels.ClientePedidoViewModel

<h3>Você está a um passo de adquirir seu produto</h3>
<hr />
<form asp-action="Checkout" method="post" class="" role="form">

    <!--Nome,genero e data nascimento-->
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Nome" class="form-label"></label>
            <input asp-for="@Model.Nome" class="form-control" />
            <span asp-validation-for="@Model.Nome" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label class="form-label">Gênero</label>
            <select class="form-control" asp-for="@Model.Genero">
                <option value="">Selecione o gênero</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
            <span asp-validation-for="@Model.Genero" class="text-danger"></span>

        </div>


        <div class="form-group col-md-4">
            <label asp-for="@Model.DataDeNascimento" class="form-label"></label>
            <input asp-for="@Model.DataDeNascimento" class="form-control" type="date" />
            <span asp-validation-for="@Model.DataDeNascimento" class="text-danger"></span>
        </div>
    </div>
    <!--Rg, Cpf-->
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.RG" class="form-label"></label>
            <input asp-for="@Model.RG" class="form-control" />
            <span asp-validation-for="@Model.RG" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Cpf" class="form-label"></label>
            <input asp-for="@Model.Cpf" class="form-control" />
            <span asp-validation-for="@Model.Cpf" class="text-danger"></span>
        </div>

    </div>
    <!--DDD,tipoTelefone, Telefone e email-->
    <div class="row">
        <div class="form-group col-md-2">
            <label asp-for="@Model.DDD" class="form-label"></label>
            <input asp-for="@Model.DDD" class="form-control" />
            <span asp-validation-for="@Model.DDD" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="TipoTelefone" class="control-label"></label>
            @Html.DropDownListFor(model => model.TipoTelefone,
                     new SelectList(Enum.GetValues(typeof(SwitchSelect.Models.TipoTelefone))),
                     "Selecione o Tipo de Telefone",
                     new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.NumeroTelefone" class="form-label"></label>
            <input asp-for="@Model.NumeroTelefone" class="form-control" />
            <span asp-validation-for="@Model.NumeroTelefone" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Email" class="form-label"></label>
            <input asp-for="@Model.Email" class="form-control" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
    </div>
    <!--TipoLogradouro, Logradouro, numero-->
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.TipoLogradouro" class="control-label"></label>
            @Html.DropDownListFor(model => model.TipoLogradouro,
                     new SelectList(Enum.GetValues(typeof(SwitchSelect.Models.TipoLogradouro))),
                     "Selecione o Tipo de logradouro",
                     new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Logradouro" class="control-label"></label>
            <input asp-for="@Model.Logradouro" class="form-control" />
            <span asp-validation-for="@Model.Logradouro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Numero" class="control-label"></label>
            <input asp-for="@Model.Numero" class="form-control" />
            <span asp-validation-for="@Model.Numero" class="text-danger"></span>
        </div>
    </div>
    <!--cep, bairro, cidade, estado-->
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="@Model.CEP" class="control-label"></label>
            <input asp-for="@Model.CEP" class="form-control" />
            <span asp-validation-for="@Model.CEP" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.Bairro" class="control-label"></label>
            <input asp-for="@Model.Bairro" class="form-control" />
            <span asp-validation-for="@Model.Bairro" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.Cidade" class="control-label"></label>
            <input asp-for="@Model.Cidade." class="form-control" />
            <span asp-validation-for="@Model.Cidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.Estado" class="control-label"></label>
            <input asp-for="@Model.Estado" class="form-control" />
            <span asp-validation-for="@Model.Estado" class="text-danger"></span>
        </div>
    </div>
    <!--Tipo de residencia e complemento-->
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TipoResidencia" class="control-label"></label>
            @Html.DropDownListFor(model => model.TipoResidencia,
                     new SelectList(Enum.GetValues(typeof(SwitchSelect.Models.TipoResidencia))),
                     "Selecione o Tipo de Residência",
                     new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Complemento" class="control-label"></label>
            <input asp-for="@Model.Complemento" class="form-control" />

        </div>
    </div>
    <hr />
    <h3>Informações de pagamento</h3>
    <div class="row">
        <div class="form-group">
            <label class="control-label">Cartão</label>
            <div>
                <label>
                    <input type="radio" name="TipoCartao" value="0" asp-for="TipoCartao" checked />
                    Crédito
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="TipoCartao" value="1" asp-for="TipoCartao" />
                    Débito
                </label>
            </div>
            <span asp-validation-for="TipoCartao" class="text-danger"></span>
        </div>
       
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="TitularDoCartao" class="control-label"></label>
            <input asp-for="TitularDoCartao" class="form-control" />
            <span asp-validation-for="TitularDoCartao" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="CpfTitularCartao" class="control-label"></label>
            <input asp-for="CpfTitularCartao" class="form-control" />
            <span asp-validation-for="CpfTitularCartao" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="NumeroCartao" class="control-label"></label>
            <input asp-for="NumeroCartao" class="form-control" />
            <span asp-validation-for="NumeroCartao" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="MesValidade" class="control-label">Mês Validade</label>
            <input asp-for="MesValidade" class="form-control" type="number" />
            <span asp-validation-for="MesValidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="AnoValidade" class="control-label">Ano Validade</label>
            <input asp-for="AnoValidade" class="form-control" type="number" />
            <span asp-validation-for="AnoValidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="CVV" class="control-label"></label>
            <input asp-for="CVV" class="form-control" />
            <span asp-validation-for="CVV" class="text-danger"></span>
        </div>
    </div>
    <!--Botoes-->
    <div class="row">
        <div class="form-group col-md-2">
            <input class="btn btn-primary" type="submit" value="Concluir pedido" />
        </div>
        <div class="form-group col-md-3">
            <a class="btn btn-outline-info" asp-controller="CarrinhoCompra" asp-action="Index">Retornar ao carrinho</a>
        </div>

    </div>

</form>