@model SwitchSelect.Models.Cliente

<h2>Checkout</h2>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var mensagemTroco = '@ViewBag.MensagemTroco';
            if (mensagemTroco) {
                alert(mensagemTroco);
            }

            // Marcar o endereço selecionado automaticamente
            var enderecoIdSelecionado = '@ViewBag.EnderecoIdSelecionado';
            if (enderecoIdSelecionado) {
                $('#endereco').val(enderecoIdSelecionado);
            }
        });
    </script>
}

<div>
    <form asp-action="Checkout" asp-controller="Pedido" method="post" onsubmit="return onSubmitForm()">
        <input type="hidden" id="pagamentoAbaixoDezReaisPermitido" value="@ViewBag.PagamentoAbaixoDezReaisPermitido" />
        <div class="row">
            <div class="col-sm-1">
                <label asp-for="Nome"></label>
            </div>
            <div class="col-sm-5">
                <input asp-for="Nome" readonly class="col-sm-4 form-control" style="border:none" />
            </div>

            <!--Valores Hidden-->
            <div class="">
                <strong>
                    <input name="precoTotalPedido" value="@ViewBag.PrecoTotalPedido" hidden />
                    <input name="totalItensPedido" value="@ViewBag.TotalItensPedido" hidden />
                    <input name="cupomAplicado" value="@ViewBag.Cupom" hidden />
                    <input type="hidden" id="pagamentoAbaixoDezReaisPermitido" value="@ViewBag.PagamentoAbaixoDezReaisPermitido" />
                </strong>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <label asp-for="Cpf"></label>
            </div>
            <div class="col-sm-5">
                <input asp-for="Cpf" readonly class="col-sm-4 form-control" style="border:none" />
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <h4>Dados de Endereço</h4>
                <div>
                    @if (ViewBag.EnderecoSelecionado != null)
                    {
                        var endereco = ViewBag.EnderecoSelecionado;
                        <p>@endereco.Logradouro, N°. @endereco.Numero, CEP. @endereco.CEP, @endereco.Bairro.Cidade.Descricao, @endereco.Bairro.Cidade.Estado.Descricao</p>
                        <input type="hidden" id="endereco" name="enderecoId" value="@endereco.Id" />
                    }
                    else
                    {
                        <p>Nenhum endereço selecionado</p>
                    }
                </div>
            </div>

            <div class="col-sm-6">
                <h4>Dados de Pagamento</h4>
                @foreach (var cartao in Model.Cartoes)
                {
                    <div class="card col-sm-6 bg-light">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <input type="checkbox" id="@("cartao_" + cartao.Id)" name="cartoesSelecionados" value="@cartao.Id">
                            </div>
                            <div class="col">
                                <label for="@("cartao_" + cartao.Id)">
                                    <strong>@cartao.Bandeira</strong> <br />@cartao.CartaoQuatroDigito
                                </label>
                            </div>
                            <div class="col-auto">
                                <input type="number" name="valorCartao_@cartao.Id" step="0.01" max="@ViewBag.PrecoTotalPedido" placeholder="Valor a pagar com este cartão" />
                            </div>
                        </div>
                    </div>
                }
                <a asp-controller="Cartao" asp-action="Create" asp-route-clienteId="@Model.Id" asp-route-origem="Pedido"
                   class="btn btn-primary">+ Cartão</a>
                <input type="hidden" name="precoTotalPedido" value="@ViewBag.PrecoTotalPedido" />
                <input type="hidden" name="totalItensPedido" value="@ViewBag.TotalItensPedido" />
                <input type="hidden" name="cupomAplicado" value="@ViewBag.Cupom" />
                <input type="hidden" name="enderecoId" id="enderecoId" />
                <input type="hidden" name="cartoesIds" id="cartoesIds" />
            </div>

        </div>
        <div class="row">
            <div class="col-auto">
                <h5>Valor do pedido:</h5>
            </div>
            <div class="col-auto">
                <input name="precoTotalPedidoString" value="@(((decimal)ViewBag.PrecoTotalPedido).ToString("C2"))" style="border:none" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label class="col-form-label">Total:</label>
            </div>
            <div class="col-auto">
                <input class="form-control" name="total" id="total" value="@ViewBag.PrecoTotalPedido" readonly />
            </div>
        </div>

        <!--botao finalizar-->
        <div class="row justify-content-end">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="row align-items-center justify-content-end">
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button type="submit" id="finalizarPedido" class="btn btn-primary mt-4">Finalizar Compra</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <form asp-controller="Pedido" asp-action="AplicarCupom" id="formAplicarCupom" method="post" onsubmit="return validarAplicacaoCupom()">
        <input asp-for="Cpf" hidden />
        <input type="hidden" name="total" id="totalInput" value="@ViewBag.PrecoTotalPedido" />
       
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" name="codigoCupom" id="codigoCupom" class="form-control" placeholder="Código do Cupom">
                <button type="submit" class="btn btn-primary" id="aplicarCupomButton">Aplicar Cupom</button>
            </div>
        </div>
    </form>

</div>
<script src="~/js/checkout.js"></script>