@model IEnumerable<SwitchSelect.Models.PedidoDetalhe>


@{
    ViewData["Title"] = "PedidoDetalhe";
}

<h1>Pedidos</h1>
<h3>@ViewBag.PedidoTotal</h3>
@foreach (var item in Model)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Pedido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.PedidoId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Preco)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Preco)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Quantidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Quantidade)
            </dd>

             <input name="jogoId" value="@item.JogoId" hidden />

            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Jogo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem =>item.NomeJogo)
            </dd>
           <dd>
                <a class="btn btn-primary" asp-action="#" asp-route-id="@item.Id">Trocar Produto</a>
               
           </dd>
        </dl>
    </div>
}
<a class="btn btn-danger" asp-controller="Devolucao" asp-action="IndexPedido">Devolver Pedido</a>
<button type="button" onclick="history.back();" class="btn btn-primary">Voltar</button>

