@model IEnumerable<SwitchSelect.Models.Pedido>

@{
    ViewData["Title"] = "PedidoListCliente";
}

<h1>Lista de pedidos do cliente</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEntregueEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <input name="pedidoTotal" value="@item.PedidoTotal.ToString("0.00")" style="border:none" readonly />
                    <input type="hidden" name="pedidoTotal" value="@item.PedidoTotal.ToString("0.00")" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desconto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoEnviado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoEntregueEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="SelecionarPedidoTroca" asp-route-pedidoId="@item.Id"
                       asp-route-pedidoTotal="@item.PedidoTotal" asp-route-status="@item.Status">Detalhes/Troca</a>

                    <!--Pedido de devolução-->
                    @if (item.Status.Equals("Entregue"))
                    {
                        <a class="btn btn-danger" asp-controller="Devolucao" asp-action="Devolucao" asp-route-pedidoId="@item.Id">
                            Devolver
                        </a>
                    }
                    <!--Aguardando envio para deolução-->
                    @if (item.Status.Equals("Em devolução"))
                    {
                        <a class="btn btn-success" asp-controller="Devolucao" asp-action="ConfirmarEnvio"
                           asp-route-pedidoId="@item.Id">
                            Confirmar envio
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
