@model IEnumerable<SwitchSelect.Models.Pedido>

<h1>Lista de Pedidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id do Pedido</th>
            <th>Id do Cliente</th>
            <th>CPF do Cliente</th>
            <th>Número de Telefone</th>
            <th>CEP de Entrega</th>
            <th>Número de Entrega</th>
            <th>Id do Jogo</th>
            <th>Valor do Jogo</th>
            <th>Total do Pedido</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.Id</td>
                <td>@pedido.ClienteId</td>
                <td>@pedido.Cliente.Cpf</td>
                <td>
                    @foreach (var telefone in pedido.Cliente.Telefones)
                    {
                        @telefone.NumeroTelefone

                        <br />
                    }
                </td>

                @foreach (var endereco in pedido.Cliente.Enderecos)
                {
                    <td>@endereco.CEP</td>
                    <td>@endereco.Numero</td>
                    <br />
                }


                <td>@pedido.PedidoItens.FirstOrDefault()?.Jogo.Id</td>
                <td>@pedido.PedidoItens.FirstOrDefault()?.Jogo.Preco.ToString("c")</td>
                <td>@pedido.PedidoTotal.ToString("c")</td>
                <td>@pedido.Status</td>
            </tr>
        }
    </tbody>
</table>
