@model IEnumerable<SwitchSelect.Models.PedidoDetalhe>

<div class="container">
    <form asp-controller="Troca" asp-action="SolicitarTrocaProduto" method="post">
        @foreach (var item in Model)
        {

            <div class="row mb-4">
                <div class="col-12 col-md-2 text-center">
                    <img src="@Url.Content(item.ImagemUrl)" class="img-fluid" style="height:70%" alt="" />
                    @if (ViewBag.StatusPedido.Equals("Entregue") && item.Restricao.Equals("Nenhum"))
                    {
                        <input type="submit" class="btn btn-primary" value="Solicitar troca" />
                    }
                    else if(item.Restricao.Equals("Troca aprovada"))
                    {
                        
                    }
                </div>
                <div class="col-12 col-md-7">
                    <h1>
                        Detalhes do Pedido - @item.PedidoId
                    </h1>
                    <p class="fs-5">
                        <!-- Descrição do pedido ou informações adicionais podem ser adicionadas aqui -->
                    </p>

                    <h5 class="card-title">@item.NomeJogo - Código: @item.JogoId</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Preço:</dt>
                        <dd class="col-sm-8"><input name="Preco" value="@item.Preco" readonly style="border:none" /></dd>
                        <dt class="col-sm-4">Quantidade:</dt>
                        <dd class="col-sm-8"><input name="Quantidade" value="@item.Quantidade" readonly style="border:none" /></dd>
                        <dt class="col-sm-4">Status:</dt>
                        <dd class="col-sm-8"><input value="@ViewBag.StatusPedido" readonly style="border:none" /></dd>
                        <dt class="col-sm-4">Restrição:</dt>
                        <dd class="col-sm-8"><input asp-for="@item.Restricao" readonly style="border:none"/></dd>
                    </dl>
                    @if (ViewBag.StatusPedido.Equals("Entregue") && item.Restricao.Equals("Nenhum"))
                    {
                        @if (item.Quantidade > 1)
                        {
                            <label asp-for="@item.Quantidade"></label>
                            <input type="number" name="qtd" placeholder="Informe quantidade" />
                        }
                        else if (item.Quantidade == 1)
                        {
                            <input type="number" name="qtd" hidden />
                        }

                        <label for="motivo">Motivo</label>
                        <input name="motivo" placeholder="Informe motivo" />
                    }
                    <!--Inputs hidden-->
                    <input name="Restricao" value="@item.Restricao" hidden />
                    <input name="NomeJogo" value="@item.NomeJogo" hidden />
                    <input name="PedidoId" value="@item.PedidoId" hidden />
                    <input name="JogoId" value="@item.JogoId" hidden />
                </div>
                <hr />
            </div>

        }
    </form>
</div>
