@model IEnumerable<SwitchSelect.Models.Cupom>

@{
    ViewData["Title"] = "Cupons";
}

<h1>Lista Cupons</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Cupom</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCupom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCupom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
