@model SwitchSelect.Models.ViewModels.CarrinhoCompraViewModel
@{
    ViewData["Title"] = "Carrinho de Compra";
}
<form>
    <div>
        <table class="table table-bordered table-striped">
            <thead class="">
                <tr>
                    <th class="col-sm-2">Produto</th>
                    <th class="col-sm-2">Nome</th>
                    <th class="col-sm-2">Quantidade</th>
                    <th class="col-sm-2">Preço (R$)</th>
                    <th class="col-sm-2">Sub-total(R$)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class=" text-center">
                @foreach(var item in Model.CarrinhoCompra.CarrinhosCompraItens)
                {
                    <tr>
                        <td class="text-center">
                            <img src="@Url.Content(@item.Jogo.ImagemUrl)" alt="Imagem do Produto"
                                 class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                        </td>

                        <td class="text-center">@item.Jogo.Nome</td>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-center">@item.Jogo.Preco.ToString("c")</td>

                        <td class="text-center">
                            @((item.Quantidade * item.Jogo.Preco).ToString("c"))
                        </td>
                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra"
                               asp-route-id="@item.Jogo.Id"> <i class="bi bi-trash"></i> </a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<!--Cupom e preço-->
<div class="row">
    <div class="col-sm-8 col-lg-4">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Utilizar Cupom
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-flex align-items-center">
                            <label for="inputCupom" class="me-2">Código do Cupom:</label>
                            <input type="text" name="cupom" placeholder="Código de Cupom" id="inputCupom" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--Preço do produto e Total-->
    <div class="col-lg-2"></div>
    <div class="col-sm-4 col-lg-6">
        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="text-end"><strong>Total</strong></td>
                        <td class="text-end">@Model.CarrinhoCompraTotal.ToString("C")</td>
                    </tr>
                </tbody>
            </table>
            <div class="float-end">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continuar comprando</a>
                <a asp-controller="Pedido" asp-action="Checkout" class="btn btn-primary">Finalizar Pedido</a>
            </div>
        </div>
    </div>
</div>
<!-- Estimativa de Frete -->
<div class="row">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite o CEP" aria-label="Digite o CEP" id="inputCEP">
            <button class="btn btn-outline-secondary" type="button" id="btnCalcularFrete">Calcular Frete</button>
        </div>
    </div>
</div>
<!-- Mensagem de Estimativa de Frete -->
<div id="mensagemFrete" class="alert" role="alert" style="display: none;"></div>

<script>
    document.getElementById('btnCalcularFrete').addEventListener('click', function () {
        var cep = document.getElementById('inputCEP').value;
        // Chamar a API dos Correios para calcular o frete com base no CEP fornecido
        fetch('https://api.correios.com.br/frete/calculo?cep=' + cep)
            .then(response => response.json())
            .then(data => {
                // Manipular a resposta da API dos Correios e exibir a estimativa de frete ao cliente
                var mensagem = 'O custo estimado de frete para o CEP ' + cep + ' é R$ ' + data.valor;
                document.getElementById('mensagemFrete').innerHTML = mensagem;
                document.getElementById('mensagemFrete').style.display = 'block';
            })
            .catch(error => {
                console.error('Erro ao calcular o frete:', error);
                // Exibir mensagem de erro ao cliente
                document.getElementById('mensagemFrete').innerHTML = 'Ocorreu um erro ao calcular o frete. Por favor, tente novamente mais tarde.';
                document.getElementById('mensagemFrete').className = 'alert alert-danger';
                document.getElementById('mensagemFrete').style.display = 'block';
            });
    });
</script>



