@model SwitchSelect.Models.ViewModels.CarrinhoCompraViewModel
@{
    ViewData["Title"] = "Carrinho de Compra";
}
<form>
    <div>
        <table class="table table-bordered table-striped">
            <thead class="">
                <tr>
                    <th class="col-sm-2">Produto</th>
                    <th class="col-sm-2">Nome</th>
                    <th class="col-sm-2">Quantidade</th>
                    <th class="col-sm-2">Preço (R$)</th>
                    <th class="col-sm-2">Sub-total(R$)</th>
                </tr>
            </thead>
            <tbody class=" text-center">
                @foreach (var item in Model.CarrinhoCompra.CarrinhosCompraItens)
                {
                    <tr>
                        <td class="text-center">
                            <img src="@Url.Content(item.Jogo.ImagemUrl)" alt="Imagem do Produto"
                                 class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                        </td>

                        <td class="text-center">@item.Jogo.Nome</td>
                        <td class="text-center">
                            <div class="input-group">

                               
                                <input class="form-control justify-content-center" value="@item.Quantidade" min="1" max="999">
                                <button asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra"
                                        asp-route-id="@item.Jogo.Id" class="btn btn-sm btn-danger diminuir-quantidade">
                                    -
                                </button>
                                <button asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra"
                                        asp-route-id="@item.Jogo.Id" class="btn btn-sm btn-primary aumentar-quantidade">
                                    +
                                </button>
                               
                            </div>
                        </td>


                        <td class="text-center">@item.Jogo.Preco.ToString("c")</td>

                        <td class="text-center">
                            @((item.Quantidade * item.Jogo.Preco).ToString("c"))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<!--Cupom e preço-->
<div class="row"
    <!--Preço do produto e Total-->
    <div class="col-lg-6"></div>
    <div class="col-sm-4 col-lg-6">
        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="text-end"><strong>Total</strong></td>
                        <td class="text-end">@Model.CarrinhoCompraTotal.ToString("C")</td>
                    </tr>
                </tbody>
            </table>
            <div class="float-end">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continuar comprando</a>
                <a asp-controller="Pedido" asp-action="CheckoutLogin" class="btn btn-primary">Finalizar Pedido</a>
            </div>
        </div>
    </div>
</div>





